/* ===== HTML Tags ===== */
body {
	padding-top: 2px;
	padding-bottom: 10px;
	background-color: #ffffff;
}
a {
	color: #808080;
	text-decoration: underline;
}
a:hover {
	color: #000000;
}

/* ===== Profile CSS Styles ===== */
.profile {
	text-align: right;
}
a.profile {
	color: #c0c0c0;
	text-decoration: none;
	line-height: 50px;
}
a.profile:hover {
	color: #da8b06;
	text-decoration: underline;
}
a.profile:active {
	color: #da8b06;
	text-decoration: none;
}
.profile-error {
	display: none;
	margin-top: 15px;
	font-weight: bold;
	text-align: center;
}
.profile-lbl {
	color: #000000;
	font-weight: bold;
	display: block;
	text-align: left;
}

/* ===== HomePage CSS Styles ===== */
.hp-bloc {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.hp-link {
	outline: none;
	text-decoration: none;
}
.hp-link:hover img {
	box-shadow: 1px 1px 8px #808080;
	border-color: #da8b06;
}

/* ===== Mediatheque CSS Styles ===== */
.hp-frame {
	border: none;
	height: 600px;
	width: 100%;
}
